{% if product.metafields.custom.box_items_variants != blank %}
  <div id="options-{{ product.id }}" class="extraOptionOverlay">
    <button class="closeOptionOverlay">{% render 'downArrowIcon' %}</button>
    {% assign extraProdList = product.metafields.custom.box_items_variants.value %}
    {% for extraProd in extraProdList %}
      <div class="extrProdInfoContainer">
        <p class="prodTit">{{ extraProd.title }}</p>
        <div class="extraProdVariantContainer">
          {% for variant in extraProd.variants %}
            <label data-VarianHiddenBtn= "{% if variant.price > 0 %}#hiddenAddOn-{{  variant.id }} {% else %}.dummyItemsss{% endif %}" for="{{ variant.id }}-variantBtn-{{ forloop.index }}" class="checkboxItem hiddenAddOnLabel">
              <input
                id="{{ variant.id }}-variantBtn-{{ forloop.index }}"
                type="radio"
                class="optionChooser"
                name="{{ extraProd.id }}"
                value="{{extraProd.title}}:{{ variant.title }}"
              >
              <span class="checkmarkIcon"></span>
              {{ variant.title }} ({{ variant.price | money }})
            </label>
            {% if variant.price > 0 %}
              <button
                id="hiddenAddOn-{{ variant.id }}"
                class="quickAddOnsBtn  button hiddenBtn"
                data-cartItemId="cartItem-{{ extraProd.id }}"
                data-addOnVariantId="{{ variant.id }}"
                data-addOnProdId="{{ extraProd.id }}"
                data-productName="{{ extraProd.title }}"
                data-productImg="{{ extraProd.featured_image | img_url:'master' }}"
                data-AddOnPrice="{{ variant.price | money_without_currency }}"
              >
               HIDDEN ADD
              </button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <button
      class="customQuickAdd button disabled"
      data-variantOptions=""
      data-cartItemId="cartItem-{{ product.id }}"
      data-productName="{{ product.title }}"
      data-productImg="{{ product.featured_image | img_url:'master' }}"
    >
      <span class="bagIcon"> Apply </span>
      <span class="tickIcon">
        {% render 'tickIcon' %}
      </span>
    </button>
  </div>
{% endif %}
