{% if addOnIsActive %}
  <button
    class="quickAddOnsBtn customQuickAdd button"
    data-cartItemId="cartItem-{{ product.id }}"
    data-addOnVariantId="{{ product.selected_or_first_available_variant.id }}"
    data-addOnProdId="{{ product.id }}"
    data-AppendNewOne="false"
    data-mainProdId=""
    data-linkedProd="false"
    data-productName="{{ product.title }}"
    data-productImg="{{ product.featured_image | img_url:'master' }}"
    data-AddOnPrice="{{ product.selected_or_first_available_variant.price | money_without_currency }}"
    data-numberOfUnits= "{%- if product.metafields.custom.number_of_units != blank -%}{{product.metafields.custom.number_of_units}}{%-else-%}1{%- endif -%}"
  >
    <span class="bagIcon">
      {% render 'addToCartIcon' %}
    </span>
    <span class="tickIcon">
      {% render 'tickIcon' %}
    </span>
  </button>
{% else %}
  {% if product.metafields.custom.box_items_variants != blank %}
    <button
      class="customQuickAdd optionsOverlayOpener button"
      data-showOptions="#options-{{ product.id }}"
      data-AbleToAddId="#dummyId"
    >
      <span class="bagIcon">
        {% render 'addToCartIcon' %}
      </span>
      <span class="tickIcon">
        {% render 'tickIcon' %}
      </span>
    </button>

  {% else %}
  {% if product.metafields.custom.enable_spcie_flavor_product != blank %}
    {%  assign hasSpiceFlavor = true %}
    {%  else %}
    {%  assign hasSpiceFlavor = false %}
  {% endif %}
    <button
      class="quickMealAddBtn customQuickAdd button"
      data-cartItemId="cartItem-{{ product.id }}"
      data-mealItemVariantId="{{ product.selected_or_first_available_variant.id }}"
      data-productName="{{ product.title }}"
      data-productImg="{{ product.featured_image | img_url:'master' }}"
      data-variantOptions=""
      data-mainProdId=""
      data-hasSpiceFlavor= "{{ hasSpiceFlavor }}"
      data-AbleToAddId="#dummyId"
      data-numberOfUnits= "{%- if product.metafields.custom.number_of_units != blank -%}{{product.metafields.custom.number_of_units}}{%-else-%}1{%- endif -%}"
    >
      <span class="bagIcon">
        {% render 'addToCartIcon' %}
      </span>
      <span class="tickIcon">
        {% render 'tickIcon' %}
      </span>
    </button>
  {% endif %}
{% endif %}
