{% if page.metafields.custom.weekly_menu_tabs != blank %}
  {%- liquid
    assign id = section.id
    assign heading_preset = section.settings.heading_preset
    assign subHeadingPreset = section.settings.subHeadingPreset
  -%}
  {% comment %}Spacing{% endcomment %}
  {%- liquid
    assign padding_top = section.settings.padding_top
    assign padding_bottom = section.settings.padding_bottom
    assign padding_left = section.settings.padding_left
    assign padding_right = section.settings.padding_right
    assign margin_top = section.settings.margin_top
    assign margin_bottom = section.settings.margin_bottom
    assign padding_top_m = section.settings.padding_top_m
    assign padding_bottom_m = section.settings.padding_bottom_m
    assign padding_left_m = section.settings.padding_left_m
    assign padding_right_m = section.settings.padding_right_m
    assign margin_top_m = section.settings.margin_top_m
    assign margin_bottom_m = section.settings.margin_bottom_m
  -%}
  {% comment %}Layout{% endcomment %}
  {%- liquid
    assign width = section.settings.width
    assign section_bg = section.settings.section_bg
    assign animation = section.settings.animation | default: 'none'
  -%}
  {% comment %}Advanced{% endcomment %}
  {%- liquid
    assign css_class = section.settings.css_class
    assign custom_css = section.settings.custom_css
  -%}

  {% comment %}
    Section specific CSS
  {% endcomment %}

  {% capture section_css -%}
  {%- endcapture -%}
  {% style %}
    #shopify-section-{{ id }}{
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_left }}px;
      padding-right: {{ padding_right }}px;
      background: {{ section_bg }};
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      {% if width == 'wide' %}
        width: 100%;
      {% endif %}
    }
    @media screen and (max-width:798px) {
      #shopify-section-{{ id }}{
        padding-top: {{ padding_top_m }}px;
        padding-bottom: {{ padding_bottom_m }}px;
        padding-left: {{ padding_left_m }}px;
        padding-right: {{ padding_right_m }}px;
        margin-top: {{ margin_top_m }}px;
        margin-bottom: {{ margin_bottom_m }}px;
      }
    }
    {% render 'css-loop',
              css: section_css,
              id: id
      %}
    {% render 'css-loop',
      css: custom_css,
      id: id %}
  {% endstyle %}

  <section
    class="
      section
      customMenuProdTabsSection
      {{ css_class }}
      is-width-{{ width }}
    "
    {% if animation != 'none' %}
      data-scroll-class="{{ animation }}"
    {% endif %}
  >
    <div class="tabBtnsContainer">
      <ul>
        {% for menuItem in page.metafields.custom.weekly_menu_tabs.value %}
          {%- liquid
            assign menuMonth = menuItem.menu_month
            assign menuDate = menuItem.menu_date
          -%}
          <li>
            <button
              class="tabBtn {% if forloop.index == 1 %}active{% endif %}"
              data-id="#{{id}}-tab-{{ forloop.index }}"
            >
              <span>{{ menuMonth }}</span> <span class="strong"> {{ menuDate }}</span>
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="tabContentsContainer">
      <div class="collection__loading-icon button is-loading is-loading--icon-only"></div>
      {% for menuItem in page.metafields.custom.weekly_menu_tabs.value %}
        {%- liquid
          assign menuHeading = section.settings.menu1Heading
          assign menuDesc = section.settings.menu1SubHeading
          assign collection = menuItem.menu_collection.value

          assign newAdditionHeading = section.settings.menu2Heading
          assign newAdditionDesc = section.settings.menu2SubHeading
          assign newAdditionCollection = menuItem.new_additions_collection.value

          assign addOnsHeading = section.settings.menu3Heading
          assign addOnsDesc = section.settings.menu3SubHeading
          assign addOnsProdCollection = menuItem.add_ons_collection.value
        -%}

        <div
          id="{{id}}-tab-{{ forloop.index }}"
          class="weeklyMenuTabItem"
          style="{% if forloop.index == 1 %}{% else %}display:none;{% endif %}"
        >
          <h2 class="tabMenuTitle {{ heading_preset }}">
            {{ menuHeading }}
          </h2>
          <div class="tabMenuDesc {{ subHeadingPreset }}">
            {{ menuDesc }}
          </div>
          {% if collection != blank %}
            <div class="collectionItemsRow">
              {% render 'product-loop',
                limit: 50,
                products: collection.products,
                skip_product: product,
                items_per_row: 3,
                mobile_items_per_row: 1,
                showStyle: true,
                hidePrice: true,
                hideNextItems: true
              %}
            </div>
            {% if collection.all_products_count > 3 %}
              <button class="customLoadMoreBtm button button--primary pagination-button__load-more">
                Load More Meals
              </button>
            {% endif %}
          {% endif %}

          {% if newAdditionCollection != blank %}
            <div class="addOnsContainer">
              {% if newAdditionHeading != blank %}
                <h2 class="tabMenuTitle {{ heading_preset }}">
                  {{ newAdditionHeading }}
                </h2>
              {% endif %}
              <div class="tabMenuDesc {{ subHeadingPreset }}">
                {{ newAdditionDesc }}
              </div>
              {% if newAdditionCollection != blank %}
                <div class="collectionItemsRow">
                  {% render 'product-loop',
                    limit: 50,
                    products: newAdditionCollection.products,
                    skip_product: product,
                    items_per_row: 3,
                    mobile_items_per_row: 1,
                    showStyle: true,
                    hidePrice: true,
                    hideNextItems: true
                  %}
                </div>
                {% if newAdditionCollection.all_products_count > 3 %}
                  <button class="customLoadMoreBtm button button--primary pagination-button__load-more">
                    Load More Meals
                  </button>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}

          {% if addOnsProdCollection != blank %}
            <div class="addOnsContainer">
              {% if addOnsHeading != blank %}
                <h2 class="tabMenuTitle {{ heading_preset }}">
                  {{ addOnsHeading }}
                </h2>
              {% endif %}
              {% if addOnsDesc != blank %}
                <div class="tabMenuDesc {{ subHeadingPreset }}">
                  {{ addOnsDesc }}
                </div>
              {% endif %}
              {% if addOnsProdCollection != blank %}
                <div class="collectionItemsRow">
                  {% render 'product-loop',
                    limit: 50,
                    products: addOnsProdCollection.products,
                    skip_product: product,
                    items_per_row: 3,
                    mobile_items_per_row: 1,
                    showStyle: true,
                    hidePrice: true,
                    hideNextItems: true
                  %}
                </div>
                {% if addOnsProdCollection.all_products_count > 3 %}
                  <button class="customLoadMoreBtm button button--primary pagination-button__load-more">
                    Load More Meals
                  </button>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
  {% comment %} 
  <script>
    $(document).ready(function () {
      if ($('.showSquareImages').length > 0) {
        var firstImageWidth = $('.showSquareImages .product__imageContainer .image-element__wrap img').first().width();
        var cssRule =
          '.showSquareImages .product__imageContainer .image-element__wrap img { height: ' + firstImageWidth + 'px; }';
        if ($('#extraStyle').length < 1) {
          $('body').append('<style id="extraStyle">' + cssRule + '</style>');
        }
      }
    });
  </script>
 {% endcomment %}
{% endif %}
{% schema %}
{
  "name": "Weekly Menu",
  "class": "menuProdTabs",
  "settings": [
    {
      "type": "text",
      "id": "menu1Heading",
      "label": "Menu 1 Heading",
      "default": "Signature Pastas"
    },  
    {
      "type": "richtext",
      "id": "menu1SubHeading",
      "label": "Menu 1 Sub Heading",
      "default": "<p>6 meals | 0% food waste product</p>"
    },
    {
      "type": "text",
      "id": "menu2Heading",
      "label": "Menu 2 Heading",
      "default": "Others"
    },  
    {
      "type": "richtext",
      "id": "menu2SubHeading",
      "label": "Menu 2 Sub Heading"
    }, 
    {
      "type": "text",
      "id": "menu3Heading",
      "label": "Menu 3 Heading",
      "default": "Add-Ons"
    },  
    {
      "type": "richtext",
      "id": "menu3SubHeading",
      "label": "Menu 3 Sub Heading",
      "default": "<p>Healthy and unique sides to help you be your best!</p>"
    },       
    {
      "type": "select",
      "id": "heading_preset",
      "label": "Heading Preset",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-h1"
    },
    {
      "type": "select",
      "id": "subHeadingPreset",
      "label": "Sub Heading Preset",
      "options": [
        {
          "value": "is-h1",
          "label": "H1"
        },
        {
          "value": "is-h2",
          "label": "H2"
        },
        {
          "value": "is-h3",
          "label": "H3"
        },
        {
          "value": "is-h4",
          "label": "H4"
        },
        {
          "value": "is-h5",
          "label": "H5"
        },
        {
          "value": "is-h6",
          "label": "H6"
        },
        {
          "value": "is-text",
          "label": "Regular"
        },
        {
          "value": "is-text-small",
          "label": "Small"
        }
      ],
      "default": "is-h1"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_left_m",
      "label": "Left spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_right_m",
      "label": "Right spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_top_m",
      "label": "Top Gutter",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin_bottom_m",
      "label": "Bottom Gutter",
      "default": 0
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "Section Background",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}
{% endschema %}
